.container {
    width: 580px;
    height: 480px;
}

.container::before {
    width: 580px;
    height: 480px;
    animation: animate 12s linear infinite;
    transform-origin: bottom right;
}

.container::after{
    width: 580px;
    height: 480px;
    animation: animate 12s linear infinite;
    transform-origin: bottom right;
    animation-delay: -6s;
}

/* BUTTONS */

.optionBtn {
    display: flex;
    /* flex-direction: column; */
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    background-color: white;
}

.optionBtn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform  150ms;
}

.optionBtn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}